@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('../font/font.css');

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,button,textarea,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.0em;
	font-family:'Noto Sans KR','NanumSquare',sans-serif;
	vertical-align: baseline;
	line-height:1.7em;  
	letter-spacing: -0.5px;
}
* {margin:0;padding:0;box-sizing:border-box;}
body { color: #000;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1, h2, h3, h4, h5, h6  { font-weight: normal;  }
img, fieldset, button, input { border: 0 none; }
img { vertical-align: middle;}
ol,ul,li { list-style: none; }
hr, caption, legend { display: none; }
button { overflow: hidden; cursor: pointer; background: transparent; }
button, input, select, textarea, a { vertical-align: middle; }
input:focus { outline: none; }
button:focus {outline: none;}
table { width: 100%; border-collapse: collapse; border-spacing: 0; word-wrap: break-word; word-break: keep-all; }

.center, center { width:1200px; margin: 0 auto;}

/* a 태그 공통 */
a:link,
a:visited,
a:active, 
a:hover,
a { text-decoration: none; vertical-align:top; }
a img { border: none; }

/* 공통 클래스 */

.only {opacity:0;overflow:hidden;width:1px;height:1px;text-indent:-9999999px;position:absolute;}
.target {cursor:pointer;}
.overhidden {overflow:hidden;}
.rltv {position:relative;}
.tab-con {display:none;}
.block {display:block;}
.in-block {display:inline-block;}
.bg_gey {background:#f9f9f9;}
.bg_black {background:#000;}
.auto {margin-left:auto;margin-right:auto;}
.hide {display:none;}

.hr_line_black {width:auto;height:2px;background:#1f1f1f;box-sizing:border-box;}
.hr_line_grey {width:auto;height:2px;background:#989898;box-sizing:border-box;}
.hr_line_white {width:auto;height:2px;background:#fff;box-sizing:border-box;}

.input_box {position:relative;}
.input_box input + label {position:absolute;top:50%;left:15px;transform:translateY(-50%);color:#999;font-size:14px;}
.input_box textarea + label {position:absolute;top:15px;left:15px;color:#999;font-size:14px;}

.video_container > div {padding-bottom:56.25%;position:relative;}
.video_container > div > iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
.video_wrap {position:relative;width:100%;padding-bottom:56.25%;border:1px solid #c7c7c7;}
.video_wrap iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

.con12 {max-width:1200px;width:100%;margin:0 auto;}
[class*='layer'] {position:absolute;z-index:1;}
[class*='section'] {position:relative;overflow:hidden;}
[class*='section'] .content {width:1200px;margin:0 auto;position:relative;}
[class*='section'] [class*='title'] {text-align:center;}
.hoverbtn {transition:all .5s;}
.hoverbtn:hover {transform:translateY(-5%);}

[type="radio"] {display:none;}
[type="radio"] ~ .icon {display:inline-block;vertical-align:middle;padding:20px;border-radius:100%;background-color:#fff;border:2px solid #000;position:relative;cursor:pointer;}
[type="radio"]:checked ~ .icon::after {content:'';display:block;border-radius:100%;width:50%;height:50%;background-color:#000;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
[class="custombox"] {display:none;}
[class="custombox"] ~ .checkicon {display:inline-block;vertical-align:middle;width:20px;height:20px;border:2px solid #000;margin-right:5px;position:relative;}
[class="custombox"]:checked ~ .checkicon::after {content:'';display:block;width:4px;height:10px;border-right:2px solid #000;border-bottom:2px solid #000;position:absolute;top:40%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}

[class="modal_agree"] {display:none;}
[class="modal_agree"] ~ label {font-weight:900;cursor:pointer;}
[class="modal_agree"] ~ div {width:500px;background:#fff;border:2px solid #103782;position:absolute;top:100%;left:50%;transform:translateX(-50%);transition:all .35s;-webkit-transition:all .35s;opacity:0;visibility:hidden;}
[class="modal_agree"]:checked ~ div {top:50%;opacity:1;visibility:visible;}
[class="modal_agree"] ~ div .agreebox {padding:20px;overflow-y:scroll;width:auto;height:350px;text-align:left;font-size:12px;}
[class="modal_agree"] ~ div > label {position:absolute;top:10px;right:10px;transform:translate(50%,-50%);width:50px;height:50px;background:#2960CB;border:1px solid #103782;cursor:pointer;}
[class="modal_agree"] ~ div > label::after {content:'';display:block;width:50%;height:2px;background:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
[class="modal_agree"] ~ div > label::before {content:'';display:block;width:50%;height:2px;background:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(-45deg);}

/*** [Pc] --/start/-- ***/

#conPC .pc_fixedbar {position:fixed;left:0;z-index:60;width:100%;transition:all 1s;-webkit-transition:all 1s;background:url('../images/pc_fixedbar.png') center center no-repeat;box-shadow:0 3px 3px rgba(0,0,0,.1);}
#conPC .pc_fixedbar.top {top:0;}
#conPC .pc_fixedbar.bottom {bottom:0;}
#conPC .pc_fixedbar.top.hidden {top:-300px;}
#conPC .pc_fixedbar.bottom.hidden {bottom:-300px;}
#conPC .pc_fixedbar > div {max-width:1200px;min-height:130px;position:relative;margin:0 auto;}
#conPC .pc_fixedbar > div .layerbutton01 {top:50%;transform:translateY(-50%);right:50.6%;overflow:visible;}
#conPC .pc_fixedbar > div .layerbutton02 {top:50%;transform:translateY(-50%);left:50.6%;overflow:visible;}


/* Pc섹션01 */
#conPC .section01 {background:url('../images/pc_section01.jpg') center bottom no-repeat;padding-top:130px;}
#conPC .section01 .content {height:868px;}
#conPC .section01 .layer01 {top:13%;left:50%;transform:translateX(-50%);}
#conPC .section01 .layer02 {top:36%;left:50%;transform:translateX(-50%);}
#conPC .section01 .layer03 {top:22%;left:50%;transform:translateX(-50%);}
#conPC .section01 .layer04 {top:68%;left:50%;transform:translateX(-50%);}
#conPC .section01 .layer05 {top:20%;left:2%;transform:translateX(-50%);}
#conPC .section01 .layer06 {top:20%;left:2%;transform:translateX(-50%);}
#conPC .section01 .layer07 {top:18%;left:96%;transform:translateX(-50%);}
#conPC .section01 .layer08 {top:5%;left:97%;transform:translateX(-50%);}

/* Pc섹션02 */
#conPC .section02 {background:url('../images/pc_section02.jpg') center top no-repeat;}
#conPC .section02 .content {height:1037px;}
#conPC .section02 .layer01 {top:38%;left:38%;transform:translateX(-50%);}
#conPC .section02 .layer02 {top:38%;left:62%;transform:translateX(-50%);}

/* Pc섹션비디오 */
#conPC .section_video {overflow:visible;}
#conPC .section_video .video_wrapper {max-width:800px;width:100%;padding:20px;position:absolute;top:-150px;right:50%;transform:translate(50%,-50%);z-index:1;}
#conPC .section_video .video_wrapper .video_container {width:94.5%;position:absolute;top:53.2%;right:50%;transform:translate(50%,-50%);}
#conPC .section_video .video_wrapper .video_container > div > iframe {border:3px solid #000;}

/* Pc섹션03 */
#conPC .section03 {background:url('../images/pc_section03.jpg') center top no-repeat;}
#conPC .section03 .content {height:1000px;}
#conPC .section03 .layer01 {top:35%;left:52%;transform:translateX(-50%);z-index:2;}
#conPC .section03 .layer02 {top:39%;left:13%;transform:translateX(-50%);}
#conPC .section03 .layer03 {top:39%;left:27%;transform:translateX(-50%);}
#conPC .section03 .layer04 {top:55%;left:13%;transform:translateX(-50%);}
#conPC .section03 .layer05 {top:55%;left:27%;transform:translateX(-50%);}
#conPC .section03 .layer06 {top:39%;left:73%;transform:translateX(-50%);}
#conPC .section03 .layer07 {top:39%;left:87%;transform:translateX(-50%);}
#conPC .section03 .layer08 {top:55%;left:79.5%;transform:translateX(-50%);}
/* #conPC .section03 .layer09 {top:55%;left:87%;transform:translateX(-50%);} */

/* Pc섹션04 */
#conPC .section04 {background:url('../images/pc_section04.jpg') center top no-repeat;}
#conPC .section04 .content {height:1043px;}
#conPC .section04 .layer01 {top:43%;left:22%;transform:translateX(-50%);}
#conPC .section04 .layer02 {top:39%;left:50%;transform:translateX(-50%);}
#conPC .section04 .layer03 {top:43%;left:78%;transform:translateX(-50%);}

/* Pc섹션05 */
#conPC .section05 {background:url('../images/pc_section05.jpg') center top no-repeat;}
#conPC .section05 .content {height:1203px;}
#conPC .section05 .layer01 {top:32%;left:22%;transform:translateX(-50%);}
#conPC .section05 .layer02 {top:32%;left:50%;transform:translateX(-50%);}
#conPC .section05 .layer03 {top:32%;left:78%;transform:translateX(-50%);}

/* Pc섹션06 */
#conPC .section06 {max-width:2000px;margin:0 auto;background:#EAF2FF url('../images/pc_section06.jpg') center top  no-repeat;}
#conPC .section06 .content {height:1520px;}
#conPC .section06 .layer01 {top:26%;left:47%;transform:translateX(-50%);}
#conPC .section06 .layer02 {top:58%;left:22%;transform:translateX(-50%);}
#conPC .section06 .layer03 {top:58%;left:50%;transform:translateX(-50%);}
#conPC .section06 .layer04 {top:58%;left:78%;transform:translateX(-50%);}
#conPC .section06 .layer05 {top:85%;left:22%;transform:translateX(-50%);}
#conPC .section06 .layer06 {top:85%;left:50%;transform:translateX(-50%);}
#conPC .section06 .layer07 {top:85%;left:78%;transform:translateX(-50%);}

/* Pc섹션07 */
#conPC .section07 {background:#EAF2FF url('../images/pc_section07.jpg') center bottom  no-repeat;}
#conPC .section07 .content {}
#conPC .section07 .title01 {}

/* Pc섹션08 */
#conPC .section08 {background:url('../images/pc_section08.jpg') center top no-repeat;}
#conPC .section08 .content {height:141px;}


.pc_db_form {margin:30px auto;max-width:650px;width:100%;}
.pc_db_form [class*='_list'] {}
.pc_db_form [class*='_list'] > li {margin-top:10px;}
.pc_db_form [class*='_list'] > li > div {font-size:0;}
.pc_db_form [class*='_list'] > li > div > div {display:inline-block;vertical-align:middle;font-weight:700;}
.pc_db_form [class*='_list'] > li > div > div:nth-child(1) {width:65%;}
.pc_db_form [class*='_list'] > li > div > div:nth-child(1) span:first-child {min-width:170px;text-align:right;padding-right:10px;}
.pc_db_form [class*='_list'] > li > div > div:nth-child(2) {width:35%;}
.pc_db_form [class*='_list'] > li > div > div:nth-child(2) span:first-child {padding:0 20px;}
.pc_db_form [class*='_list'] > li > div > div > span {display:inline-block;vertical-align:middle;font-size:24px;}
.pc_db_form .listaddbtn {margin-left:170px;display:block;width:64.4%;padding:10px 20px;border:0;overflow:visible;text-align:center;border:2px solid #2960cb;color:#2960cb;font-weight:700;font-size:24px;}
.pc_db_form .input_control {border:2px solid #000;max-width:250px;width:100%;padding:10px;}
.pc_db_form .select_control {border:2px solid #000;padding:10px;}
.pc_db_form .agreecheck_box {margin:30px auto 40px;text-align:center;}
.db_agree_box {width:92%;margin:10px auto;font-size:16px;}
.db_agree_box .privacy_con_box {height:120px;overflow-Y:scroll;border:3px solid #333;padding:0 20px;box-sizing:border-box;background:#fff;text-align:left;}
.db_agree_box input {display:none;}
.db_agree_box input + label {display:inline-block;vertical-align:middle;width:16px;height:16px;background:url('../images/checkbox2.png') left top no-repeat;}
.db_agree_box input:checked + label {background-position:-16px 0;}
.db_agree_box input + label + label {display:inline-block;vertical-align:middle;color:#000;}

.pc_db_form .pc_lodingbar {position:fixed;display:none;width:100%;height:100%;top:0%;left:0%;background-color:rgba(0,0,0,.5);color:#fff;z-index:60;}
.pc_db_form .pc_lodingbar .info {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff;font-size:20px;text-align:center;}
.pc_db_form .pc_lodingbar.view {display:block;}

/*** [Pc] --/end/-- ***/


/*** [Mobile] --/start/-- ***/

#conMobile {display:none;font-size:0;}
#conMobile img {width:100%;}

#conMobile .mo_fixedbar {display:none;position:fixed;left:0;z-index:10;width:100%;transition:all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);-webkit-transition:all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);overflow:hidden;}
#conMobile .mo_fixedbar.top {top:0;}
#conMobile .mo_fixedbar.bottom {bottom:0;}
#conMobile .mo_fixedbar.hidden {bottom:-300px;}
#conMobile .mo_fixedbar .layerlink01 {display:block;width:40.5%;padding-bottom:19%;top:50%;left:0%;transform:translateY(-50%);}
#conMobile .mo_fixedbar .layerlink02 {display:block;width:40.5%;padding-bottom:19%;top:50%;right:19%;transform:translateY(-50%);}
#conMobile .mo_fixedbar .layerlink03 {display:block;width:18.5%;padding-bottom:19%;top:50%;right:0%;transform:translateY(-50%);}

/* Mobile섹션01 */
#conMobile .section01 {}

/* Mobile섹션02 */
#conMobile .section02 {}
#conMobile .section02 .layervideo {width:88%;top:55.8%;right:50%;transform:translateX(50%);}
#conMobile .section02 .layervideo > div {width:100%;padding-bottom:56.25%;}
#conMobile .section02 .layervideo > div > iframe {position:absolute;top:50%;right:50%;transform:translate(50%,-50%);width:100%;height:100%;border:3px solid #000;}

/* Mobile섹션03 */
#conMobile .section03 {}

/* Mobile섹션04 */
#conMobile .section04 {}
#conMobile .section04 .layerslide {top:24%;right:50%;transform:translateX(50%);width:90%;}

/* Mobile섹션05 */
#conMobile .section05 {}

/* Mobile섹션06 */
#conMobile .section06 {}

/* Mobile섹션07 */
#conMobile .section07 {background-color:#e9f2ff;}
.mo_db_form {width:85%;margin:0 auto;}
.mo_db_form .parent_type_box {text-align:center;margin:30px auto;}
.mo_db_form .parent_type_box .text {font-size:4vw;vertical-align:middle;margin:0px 20px;}
.mo_db_form .m_parent_list {font-size:0;margin:30px auto;}
.mo_db_form .m_parent_list > li {display:inline-block;vertical-align:middle;font-size:4vw;}
.mo_db_form .m_parent_list > li:nth-child(1) {width:30%;text-align:right;padding-right:10px;}
.mo_db_form .m_parent_list > li:nth-child(2) {width:70%;}
.mo_db_form .m_parent_list > li > div {width:auto;line-height:1.2;}
.mo_db_form .m_children_list {margin-bottom:10px;}
.mo_db_form .m_children_list > li {}
.mo_db_form .m_children_list > li > div {width:auto;font-size:0;margin-bottom:5px;}
.mo_db_form .m_children_list > li > div > span {display:inline-block;vertical-align:middle;font-size:12px;}
.mo_db_form .m_children_list > li > div > span:nth-child(1) {width:30%;font-size:4vw;text-align:right;padding-right:10px;}
.mo_db_form .m_children_list > li > div > span:nth-child(2) {width:70%;font-size:4vw;}
.mo_db_form .m_listaddbtn {margin-left:30%;display:block;width:70.1%;padding:10px 20px;border:0;overflow:visible;text-align:center;border:2px solid #2960cb;color:#2960cb;font-weight:700;font-size:5vw;}
.mo_db_form [class="custombox"] ~ .text {font-size:3vw;vertical-align:middle;} 
.mo_db_form [class="modal_agree"] ~ .text {font-size:3.5vw;vertical-align:middle;}
.mo_db_form .form_submit2 {margin:0 auto;display:block;width:90%;border:0;overflow:visible;text-align:center;}
.mo_db_form .input_control {border:2px solid #000;width:100%;padding:10px;}
.mo_db_form .select_control {border:2px solid #000;padding:10px;}

.mo_db_form .mo_lodingbar {position:fixed;display:none;width:100%;height:100%;top:0%;left:0%;background-color:rgba(0,0,0,.5);color:#fff;z-index:60;}
.mo_db_form .mo_lodingbar .info {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff;font-size:20px;text-align:center;}
.mo_db_form .mo_lodingbar.view {display:block;}

/* Mobile섹션08 */
#conMobile .section08 {}

#conMobile .footer {padding-bottom:15%;}
#conMobile .reallending {top:55%;left:50%;transform:translateX(-50%);color:#c6d0e3;font-size:3vw;font-style:italic;font-weight:700;}

/*** [Mobile] --/end/-- ***/

@media screen and (max-width: 1100px) {
	#conPC {display:none;}
	#conMobile {display:block;}
	#conMobile .mo_fixedbar {display:block;}
	#conMobile .mo_fixedbar > div {max-width:380px;width:100%;margin:0 auto;position:relative;}

	[class="modal_agree"] ~ div {max-width:80%;}
	[class="modal_agree"] ~ div .agreebox {height:350px;font-size:3vw;}
}

@media screen and (max-width:500px) {
	#conMobile .mo_fixedbar > div {max-width:100%;}
}

/* 인라인 요소 정렬 */
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}

/* 리스트형식 */
.list_ul {font-size:0;}
.list_ul > li {display:inline-block;font-size:12px;}
.vat {vertical-align:top;}
.vam {vertical-align:middle;}
.vab {vertical-align:bottom;}

/* 요소 가로값 */
.w2 {width:50%;}
.w3 {width:33.3%;}
.w4 {width:25%;}
.w5 {width:20%;}
.w8 {width:12.5%;}

/* 패딩과 마진 */
.mg-auto {margin:0 auto;}

.mg5 {margin:5px;}
.mg10 {margin:10px;}
.mg15 {margin:15px;}
.mg20 {margin:20px;}
.mg25 {margin:25px;}
.mg30 {margin:30px;}
.mg35 {margin:35px;}
.mg40 {margin:40px;}
.mg45 {margin:45px;}
.mg50 {margin:50px;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt100 {margin-top:100px;}

.mb5 {margin-bottom:5px;}
.mb8 {margin-bottom:8px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb80 {margin-bottom:80px;}
.mb100 {margin-bottom:100px;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml40 {margin-left:40px;}
.ml45 {margin-left:45px;}
.ml50 {margin-left:50px;}

.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr40 {margin-right:40px;}
.mr45 {margin-right:45px;}
.mr50 {margin-right:50px;}

.pl0 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pl5 {padding-left:15px;}
.pr15 {padding-right:15px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt70 {padding-top:70px;}
.pt100 {padding-top:100px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb100 {padding-bottom:100px;}


/* 트랜지션 이름 */
.slide-up {-webkit-transform:translate(0,100%);transform:translate(0,100%);opacity:0;}
.active .slide-up {-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
.slide-left {-webkit-transform:translate(100%,0);transform:translate(100%,0);opacity:0;}
.active .slide-left {-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
.slide-right {-webkit-transform:translate(-100%,0);transform:translate(-100%,0);opacity:0;}
.active .slide-right {-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
.slide-down {-webkit-transform:translate(0,-100%);transform:translate(0,-100%);opacity:0;}
.active .slide-down {-webkit-transform:translate(0,0);transform:translate(0,0);opacity:1;}
.fade {opacity:0;visibility:hidden;}
.active .fade {opacity:1;visibility:visible;}

/* 애니메이션 지연시간 */
.animated {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.animated.infinite {-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;}
.animated.delay01s {-webkit-animation-delay: .1s!important;animation-delay: .1s!important;}
.animated.delay02s {-webkit-animation-delay: .2s!important;animation-delay: .2s!important;}
.animated.delay03s {-webkit-animation-delay: .3s!important;animation-delay: .3s!important;}
.animated.delay04s {-webkit-animation-delay: .4s!important;animation-delay: .4s!important;}
.animated.delay05s {-webkit-animation-delay: .5s!important;animation-delay: .5s!important;}
.animated.delay06s {-webkit-animation-delay: .6s!important;animation-delay: .6s!important;}
.animated.delay07s {-webkit-animation-delay: .7s!important;animation-delay: .7s!important;}
.animated.delay08s {-webkit-animation-delay: .8s!important;animation-delay: .8s!important;}
.animated.delay09s {-webkit-animation-delay: .9s!important;animation-delay: .9s!important;}
.animated.delay10s {-webkit-animation-delay: 1s!important;animation-delay: 1s!important;}
.animated.delay11s {-webkit-animation-delay: 1.1s!important;animation-delay: 1.1s!important;}
.animated.delay12s {-webkit-animation-delay: 1.2s!important;animation-delay: 1.2s!important;}
.animated.delay13s {-webkit-animation-delay: 1.3s!important;animation-delay: 1.3s!important;}
.animated.delay14s {-webkit-animation-delay: 1.4s!important;animation-delay: 1.4s!important;}
.animated.delay15s {-webkit-animation-delay: 1.5s!important;animation-delay: 1.5s!important;}
.animated.delay16s {-webkit-animation-delay: 1.6s!important;animation-delay: 1.6s!important;}
.animated.delay17s {-webkit-animation-delay: 1.7s!important;animation-delay: 1.7s!important;}
.animated.delay18s {-webkit-animation-delay: 1.8s!important;animation-delay: 1.8s!important;}
.animated.delay19s {-webkit-animation-delay: 1.9s!important;animation-delay: 1.9s!important;}
.animated.delay20s {-webkit-animation-delay: 2s!important;animation-delay: 2s!important;}
.animated.delay21s {-webkit-animation-delay: 2.1s!important;animation-delay: 2.1s!important;}
.animated.delay22s {-webkit-animation-delay: 2.2s!important;animation-delay: 2.2s!important;}
.animated.delay23s {-webkit-animation-delay: 2.3s!important;animation-delay: 2.3s!important;}
.animated.delay24s {-webkit-animation-delay: 2.4s!important;animation-delay: 2.4s!important;}
.animated.delay25s {-webkit-animation-delay: 2.5s!important;animation-delay: 2.5s!important;}
.animated.delay26s {-webkit-animation-delay: 2.6s!important;animation-delay: 2.6s!important;}
.animated.delay27s {-webkit-animation-delay: 2.7s!important;animation-delay: 2.7s!important;}
.animated.delay28s {-webkit-animation-delay: 2.8s!important;animation-delay: 2.8s!important;}
.animated.delay29s {-webkit-animation-delay: 2.9s!important;animation-delay: 2.9s!important;}
.animated.delay30s {-webkit-animation-delay: 3s!important;animation-delay: 3s!important;}
.animated.delay31s {-webkit-animation-delay: 3.1s!important;animation-delay: 3.1s!important;}
.animated.delay32s {-webkit-animation-delay: 3.2s!important;animation-delay: 3.2s!important;}
.animated.delay33s {-webkit-animation-delay: 3.3s!important;animation-delay: 3.3s!important;}
.animated.delay34s {-webkit-animation-delay: 3.4s!important;animation-delay: 3.4s!important;}
.animated.delay35s {-webkit-animation-delay: 3.5s!important;animation-delay: 3.5s!important;}
.animated.delay36s {-webkit-animation-delay: 3.6s!important;animation-delay: 3.6s!important;}
.animated.delay37s {-webkit-animation-delay: 3.7s!important;animation-delay: 3.7s!important;}
.animated.delay38s {-webkit-animation-delay: 3.8s!important;animation-delay: 3.8s!important;}
.animated.delay39s {-webkit-animation-delay: 3.9s!important;animation-delay: 3.9s!important;}
.animated.delay40s {-webkit-animation-delay: 4s!important;animation-delay: 4s!important;}
.animated.delay41s {-webkit-animation-delay: 4.1s!important;animation-delay: 4.1s!important;}
.animated.delay42s {-webkit-animation-delay: 4.2s!important;animation-delay: 4.2s!important;}
.animated.delay43s {-webkit-animation-delay: 4.3s!important;animation-delay: 4.3s!important;}
.animated.delay44s {-webkit-animation-delay: 4.4s!important;animation-delay: 4.4s!important;}
.animated.delay45s {-webkit-animation-delay: 4.5s!important;animation-delay: 4.5s!important;}
.animated.delay46s {-webkit-animation-delay: 4.6s!important;animation-delay: 4.6s!important;}
.animated.delay47s {-webkit-animation-delay: 4.7s!important;animation-delay: 4.7s!important;}
.animated.delay48s {-webkit-animation-delay: 4.8s!important;animation-delay: 4.8s!important;}
.animated.delay49s {-webkit-animation-delay: 4.9s!important;animation-delay: 4.9s!important;}
.animated.delay50s {-webkit-animation-delay: 5s!important;animation-delay: 5s!important;}
.animated.delay51s {-webkit-animation-delay: 5.1s!important;animation-delay: 5.1s!important;}
.animated.delay52s {-webkit-animation-delay: 5.2s!important;animation-delay: 5.2s!important;}
.animated.delay53s {-webkit-animation-delay: 5.3s!important;animation-delay: 5.3s!important;}
.animated.delay54s {-webkit-animation-delay: 5.4s!important;animation-delay: 5.4s!important;}
.animated.delay55s {-webkit-animation-delay: 5.5s!important;animation-delay: 5.5s!important;}
.animated.delay56s {-webkit-animation-delay: 5.6s!important;animation-delay: 5.6s!important;}
.animated.delay57s {-webkit-animation-delay: 5.7s!important;animation-delay: 5.7s!important;}
.animated.delay58s {-webkit-animation-delay: 5.8s!important;animation-delay: 5.8s!important;}
.animated.delay59s {-webkit-animation-delay: 5.9s!important;animation-delay: 5.9s!important;}
.animated.delay60s {-webkit-animation-delay: 6s!important;animation-delay: 6s!important;}
.animated.delay61s {-webkit-animation-delay: 6.1s!important;animation-delay: 6.1s!important;}
.animated.delay62s {-webkit-animation-delay: 6.2s!important;animation-delay: 6.2s!important;}
.animated.delay63s {-webkit-animation-delay: 6.3s!important;animation-delay: 6.3s!important;}
.animated.delay64s {-webkit-animation-delay: 6.4s!important;animation-delay: 6.4s!important;}
.animated.delay65s {-webkit-animation-delay: 6.5s!important;animation-delay: 6.5s!important;}
.animated.delay66s {-webkit-animation-delay: 6.6s!important;animation-delay: 6.6s!important;}
.animated.delay67s {-webkit-animation-delay: 6.7s!important;animation-delay: 6.7s!important;}
.animated.delay68s {-webkit-animation-delay: 6.8s!important;animation-delay: 6.8s!important;}
.animated.delay69s {-webkit-animation-delay: 6.9s!important;animation-delay: 6.9s!important;}
.animated.delay70s {-webkit-animation-delay: 7s!important;animation-delay: 7s!important;}
.animated.delay71s {-webkit-animation-delay: 7.1s!important;animation-delay: 7.1s!important;}
.animated.delay72s {-webkit-animation-delay: 7.2s!important;animation-delay: 7.2s!important;}
.animated.delay73s {-webkit-animation-delay: 7.3s!important;animation-delay: 7.3s!important;}
.animated.delay74s {-webkit-animation-delay: 7.4s!important;animation-delay: 7.4s!important;}
.animated.delay75s {-webkit-animation-delay: 7.5s!important;animation-delay: 7.5s!important;}
.animated.delay76s {-webkit-animation-delay: 7.6s!important;animation-delay: 7.6s!important;}
.animated.delay77s {-webkit-animation-delay: 7.7s!important;animation-delay: 7.7s!important;}
.animated.delay78s {-webkit-animation-delay: 7.8s!important;animation-delay: 7.8s!important;}
.animated.delay79s {-webkit-animation-delay: 7.9s!important;animation-delay: 7.9s!important;}
.animated.delay80s {-webkit-animation-delay: 8s!important;animation-delay: 8s!important;}
.animated.delay81s {-webkit-animation-delay: 8.1s!important;animation-delay: 8.1s!important;}
.animated.delay82s {-webkit-animation-delay: 8.2s!important;animation-delay: 8.2s!important;}
.animated.delay83s {-webkit-animation-delay: 8.3s!important;animation-delay: 8.3s!important;}
.animated.delay84s {-webkit-animation-delay: 8.4s!important;animation-delay: 8.4s!important;}
.animated.delay85s {-webkit-animation-delay: 8.5s!important;animation-delay: 8.5s!important;}
.animated.delay86s {-webkit-animation-delay: 8.6s!important;animation-delay: 8.6s!important;}
.animated.delay87s {-webkit-animation-delay: 8.7s!important;animation-delay: 8.7s!important;}
.animated.delay88s {-webkit-animation-delay: 8.8s!important;animation-delay: 8.8s!important;}
.animated.delay89s {-webkit-animation-delay: 8.9s!important;animation-delay: 8.9s!important;}
.animated.delay90s {-webkit-animation-delay: 9s!important;animation-delay: 9s!important;}
.animated.delay91s {-webkit-animation-delay: 9.1s!important;animation-delay: 9.1s!important;}
.animated.delay92s {-webkit-animation-delay: 9.2s!important;animation-delay: 9.2s!important;}
.animated.delay93s {-webkit-animation-delay: 9.3s!important;animation-delay: 9.3s!important;}
.animated.delay94s {-webkit-animation-delay: 9.4s!important;animation-delay: 9.4s!important;}
.animated.delay95s {-webkit-animation-delay: 4.5s!important;animation-delay: 9.5s!important;}
.animated.delay96s {-webkit-animation-delay: 9.6s!important;animation-delay: 9.6s!important;}
.animated.delay97s {-webkit-animation-delay: 9.7s!important;animation-delay: 9.7s!important;}
.animated.delay98s {-webkit-animation-delay: 9.8s!important;animation-delay: 9.8s!important;}
.animated.delay99s {-webkit-animation-delay: 9.9s!important;animation-delay: 9.9s!important;}
.animated.delay100s {-webkit-animation-delay: 10s!important;animation-delay: 10s!important;}

/* 애니메이션 속도제어 */
.animated.fast {-webkit-animation-duration: 800ms;animation-duration: 800ms;}
.animated.faster {-webkit-animation-duration: 500ms;animation-duration: 500ms;}
.animated.slow {-webkit-animation-duration: 2s;animation-duration: 2s;}
.animated.slower {-webkit-animation-duration: 3s;animation-duration: 3s;}

/* 애니메이션 이름 */
.active .slideInDown {-webkit-animation-name: slideInDown;animation-name: slideInDown;}
.active .slideInLeft {-webkit-animation-name: slideInLeft;animation-name: slideInLeft;}
.active .slideInRight {-webkit-animation-name: slideInRight;animation-name: slideInRight;}
.active .slideInUp {-webkit-animation-name: slideInUp;animation-name: slideInUp;}
.active .shake {-webkit-animation-name: shake;animation-name: shake;}

.active .bounce-in-fwd {-webkit-animation: bounce-in-fwd 1.1s both;animation: bounce-in-fwd 1.1s both;}
.active .bounce-in-bck {-webkit-animation: bounce-in-bck 1.1s both;animation: bounce-in-bck 1.1s both;}
.active .bounce-in-top {-webkit-animation: bounce-in-top 1.1s both;animation: bounce-in-top 1.1s both;}
.active .bounce-in-right {-webkit-animation: bounce-in-right 1.1s both;animation: bounce-in-right 1.1s both;}
.active .bounce-in-bottom {-webkit-animation: bounce-in-bottom 1.1s both;animation: bounce-in-bottom 1.1s both;}
.active .bounce-in-left {-webkit-animation: bounce-in-left 1.1s both;animation: bounce-in-left 1.1s both;}

.active .roll-in-blurred-left {-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .roll-in-blurred-right {-webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .roll-in-blurred-bottom {-webkit-animation: roll-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: roll-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}

.active .slide-in-blurred-left {-webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .slide-in-blurred-top {-webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .slide-in-blurred-bottom {-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .slide-in-blurred-right {-webkit-animation: slide-in-blurred-right 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: slide-in-blurred-right 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}
.active .slide-in-blurred-br {-webkit-animation: slide-in-blurred-br 0.55s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;animation: slide-in-blurred-br 0.55s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;}

.active .rotate-in-ver {-webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.active .rotate-in-hor {-webkit-animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.active .rotate-in-diag-2 {-webkit-animation: rotate-in-diag-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: rotate-in-diag-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.active .fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
.active .fadeInUp {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.active .fadeInDown {-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}
.active .fadeInLeft {-webkit-animation-name: fadeInLeft;animation-name: fadeInLeft;}
.active .fadeInRight {-webkit-animation-name: fadeInRight;animation-name: fadeInRight;}

.active .hartbeat {-webkit-animation-duration: 2s;animation-duration: 2s;-webkit-animation-name: hartbeat;animation-name: hartbeat;}
.active .hartbeat-bounce {-webkit-animation-duration: 5s;animation-duration: 5s;-webkit-animation-name: hartbeat-bounce;animation-name: hartbeat-bounce;}
.active .zoomIn {-webkit-animation-name: zoomIn;animation-name: zoomIn;}
.active .tada {-webkit-animation-name: tada;animation-name: tada;}
.active .flipInY {-webkit-backface-visibility: visible !important;backface-visibility: visible !important;-webkit-animation-name: flipInY;animation-name: flipInY;}

.active .swing-in-top-fwd {-webkit-animation-name: swing-in-top-fwd;animation-name: swing-in-top-fwd;-webkit-animation-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);animation-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);}
.active .puff-in-center {-webkit-animation-name: puff-in-center;animation-name: puff-in-center;}
.active .puff-in-ver {-webkit-animation: puff-in-ver 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;animation: puff-in-ver 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;}
.active .puff-in-hor {-webkit-animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;}
.active .slide-in-elliptic-top-fwd {-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.active .flip-horizontal-top {-webkit-animation-name:flip-horizontal-top;animation-name:flip-horizontal-top;}
.active .flip-vertical-fwd {-webkit-animation-name:flip-vertical-fwd;animation-name:flip-vertical-fwd;}
.active .slit-in-horizontal {-webkit-animation-name:slit-in-horizontal;animation-name:slit-in-horizontal;}
.active .blink-1 {-webkit-animation: blink-1 0.6s both;animation: blink-1 0.6s both;}
.active .vibrate-1 {-webkit-animation: vibrate-1 0.3s linear infinite both;animation: vibrate-1 0.3s linear infinite both;}
.active .flicker-in-1 {-webkit-animation: flicker-in-1 2s linear both;animation: flicker-in-1 2s linear both;}
.active .flicker-4 {-webkit-animation: flicker-4 4s linear infinite both;animation: flicker-4 4s linear infinite both;}
.active .text-focus-in {-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}
.active .heartbeat {-webkit-animation: heartbeat 1.5s ease-in-out infinite both;animation: heartbeat 1.5s ease-in-out infinite both;}
.active .ping {-webkit-animation: ping 1.5s ease-in-out infinite both;animation: ping 1.5s ease-in-out infinite both;}
.active .slide-in-bck-center {-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

/* 애니메이션 키프레임 */
@-webkit-keyframes slit-in-horizontal {
  0% {-webkit-transform: translateZ(-800px) rotateX(90deg);transform: translateZ(-800px) rotateX(90deg);opacity: 0;}
  54% {-webkit-transform: translateZ(-160px) rotateX(87deg);transform: translateZ(-160px) rotateX(87deg);opacity: 1;}
  100% {-webkit-transform: translateZ(0) rotateX(0);transform: translateZ(0) rotateX(0);}
}
@keyframes slit-in-horizontal {
  0% {-webkit-transform: translateZ(-800px) rotateX(90deg);transform: translateZ(-800px) rotateX(90deg);opacity: 0;}
  54% {-webkit-transform: translateZ(-160px) rotateX(87deg);transform: translateZ(-160px) rotateX(87deg);opacity: 1;}
  100% {-webkit-transform: translateZ(0) rotateX(0);transform: translateZ(0) rotateX(0);}
}

@-webkit-keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes shake {
  from, to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
}
@keyframes shake {
  from, to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%, 40%, 60%, 80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
}
@-webkit-keyframes bounce-in-bck {
  0% {-webkit-transform: scale(7);transform: scale(7);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: scale(1.5);transform: scale(1.5);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: scale(1.24);transform: scale(1.24);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  89% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: scale(1.04);transform: scale(1.04);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-bck {
  0% {-webkit-transform: scale(7);transform: scale(7);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: scale(1.5);transform: scale(1.5);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: scale(1.24);transform: scale(1.24);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  89% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: scale(1.04);transform: scale(1.04);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}

@-webkit-keyframes bounce-in-fwd {
  0% {-webkit-transform: scale(0);transform: scale(0);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: scale(0.7);transform: scale(0.7);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: scale(0.84);transform: scale(0.84);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  89% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: scale(0.95);transform: scale(0.95);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-fwd {
  0% {-webkit-transform: scale(0);transform: scale(0);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: scale(0.7);transform: scale(0.7);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: scale(0.84);transform: scale(0.84);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  89% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: scale(0.95);transform: scale(0.95);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}

@-webkit-keyframes bounce-in-top {
  0% {-webkit-transform: translateY(-500px);transform: translateY(-500px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateY(-65px);transform: translateY(-65px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateY(-28px);transform: translateY(-28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateY(-8px);transform: translateY(-8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-top {
  0% {-webkit-transform: translateY(-500px);transform: translateY(-500px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateY(-65px);transform: translateY(-65px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateY(-28px);transform: translateY(-28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateY(-8px);transform: translateY(-8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@-webkit-keyframes bounce-in-right {
  0% {-webkit-transform: translateX(600px);transform: translateX(600px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateX(68px);transform: translateX(68px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateX(32px);transform: translateX(32px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateX(8px);transform: translateX(8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-right {
  0% {-webkit-transform: translateX(600px);transform: translateX(600px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateX(68px);transform: translateX(68px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateX(32px);transform: translateX(32px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateX(8px);transform: translateX(8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@-webkit-keyframes bounce-in-bottom {
  0% {-webkit-transform: translateY(500px);transform: translateY(500px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateY(65px);transform: translateY(65px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateY(28px);transform: translateY(28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateY(8px);transform: translateY(8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-bottom {
  0% {-webkit-transform: translateY(500px);transform: translateY(500px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateY(65px);transform: translateY(65px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateY(28px);transform: translateY(28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateY(8px);transform: translateY(8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@-webkit-keyframes bounce-in-left {
  0% {-webkit-transform: translateX(-600px);transform: translateX(-600px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateX(-68px);transform: translateX(-68px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateX(-28px);transform: translateX(-28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateX(-8px);transform: translateX(-8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes bounce-in-left {
  0% {-webkit-transform: translateX(-600px);transform: translateX(-600px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  38% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;opacity: 1;}
  55% {-webkit-transform: translateX(-68px);transform: translateX(-68px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  72% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  81% {-webkit-transform: translateX(-28px);transform: translateX(-28px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  90% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  95% {-webkit-transform: translateX(-8px);transform: translateX(-8px);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  100% {-webkit-transform: translateX(0);transform: translateX(0);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@-webkit-keyframes roll-in-blurred-left {
  0% {-webkit-transform: translateX(-1000px) rotate(-720deg);transform: translateX(-1000px) rotate(-720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateX(0) rotate(0deg);transform: translateX(0) rotate(0deg);-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes roll-in-blurred-left {
  0% {-webkit-transform: translateX(-1000px) rotate(-720deg);transform: translateX(-1000px) rotate(-720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateX(0) rotate(0deg);transform: translateX(0) rotate(0deg);-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes roll-in-blurred-right {
  0% {-webkit-transform: translateX(1000px) rotate(720deg);transform: translateX(1000px) rotate(720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateX(0) rotate(0deg);transform: translateX(0) rotate(0deg);-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes roll-in-blurred-right {
  0% {-webkit-transform: translateX(1000px) rotate(720deg);transform: translateX(1000px) rotate(720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateX(0) rotate(0deg);transform: translateX(0) rotate(0deg);-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes roll-in-blurred-bottom {
  0% {-webkit-transform: translateY(800px) rotate(720deg);transform: translateY(800px) rotate(720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);opacity: 1;}
}
@keyframes roll-in-blurred-bottom {
  0% {-webkit-transform: translateY(800px) rotate(720deg);transform: translateY(800px) rotate(720deg);-webkit-filter: blur(50px);filter: blur(50px);opacity: 0;}
  100% {-webkit-transform: translateY(0) rotate(0deg);transform: translateY(0) rotate(0deg);opacity: 1;}
}
@-webkit-keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(2, 2, 2);transform: scale3d(2, 2, 2);}
  50% {opacity: 1;}
 }

@keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(2, 2, 2);transform: scale3d(2, 2, 2);}
  50% {opacity: 1;}
}
@-webkit-keyframes tada {
  from {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
  10%, 20% {-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
  40%, 60%, 80% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
  to {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
}
@keyframes tada {
  from {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
  10%, 20% {-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
  40%, 60%, 80% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
  to {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes flipInY {
  from {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);transform: perspective(400px) rotate3d(0, 1, 0, 90deg);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  40% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);transform: perspective(400px) rotate3d(0, 1, 0, -20deg);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  60% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);transform: perspective(400px) rotate3d(0, 1, 0, 10deg);opacity: 1;}
  80% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {-webkit-transform: perspective(400px);transform: perspective(400px);}
}
@keyframes flipInY {
  from {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);transform: perspective(400px) rotate3d(0, 1, 0, 90deg);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0;}
  40% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);transform: perspective(400px) rotate3d(0, 1, 0, -20deg);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  60% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);transform: perspective(400px) rotate3d(0, 1, 0, 10deg);opacity: 1;}
  80% {-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {-webkit-transform: perspective(400px);transform: perspective(400px);}
}
@-webkit-keyframes hartbeat {
  from {-webkit-transform: scale(1);transform: scale(1);opacity:1;}
  to {-webkit-transform: scale(1.5);transform: scale(1.5);opacity:0;}
}
@keyframes hartbeat {
  from {-webkit-transform: scale(1);transform: scale(1);opacity:1;}
  to {-webkit-transform: scale(1.5);transform: scale(1.5);opacity:0;}
}
@-webkit-keyframes hartbeat-bounce {
  from, to {-webkit-transform: scale(1);transform: scale(1);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: scale(1.1);transform: scale(1.1);}
  20%, 40%, 60%, 80% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes hartbeat-bounce {
  from, to {-webkit-transform: scale(1);transform: scale(1);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: scale(1.1);transform: scale(1.1);}
  20%, 40%, 60%, 80% {-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes slideInDown {
  from {-webkit-transform: translate3d(0, -120%, 0);transform: translate3d(0, -120%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInDown {
  from {-webkit-transform: translate3d(0, -120%, 0);transform: translate3d(0, -120%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInLeft {
  from {-webkit-transform: translate3d(-120%, 0, 0);transform: translate3d(-120%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInLeft {
  from {-webkit-transform: translate3d(-120%, 0, 0);transform: translate3d(-120%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInRight {
  from {-webkit-transform: translate3d(120%, 0, 0);transform: translate3d(120%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInRight {
  from {-webkit-transform: translate3d(120%, 0, 0);transform: translate3d(120%, 0, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInUp {
  from {-webkit-transform: translate3d(0, 120%, 0);transform: translate3d(0, 120%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInUp {
  from {-webkit-transform: translate3d(0, 120%, 0);transform: translate3d(0, 120%, 0);visibility: visible;}
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slide-in-blurred-left {
  0% {-webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);transform: translateX(-120%) scaleX(2.5) scaleY(0.2);-webkit-transform-origin: 100% 50%;transform-origin: 100% 50%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateX(0) scaleY(1) scaleX(1);transform: translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes slide-in-blurred-left {
  0% {-webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);transform: translateX(-120%) scaleX(2.5) scaleY(0.2);-webkit-transform-origin: 100% 50%;transform-origin: 100% 50%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateX(0) scaleY(1) scaleX(1);transform: translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes slide-in-blurred-right {
  0% {-webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);transform: translateX(1000px) scaleX(2.5) scaleY(0.2);-webkit-transform-origin: 0% 50%;transform-origin: 0% 50%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateX(0) scaleY(1) scaleX(1);transform: translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes slide-in-blurred-right {
  0% {-webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);transform: translateX(1000px) scaleX(2.5) scaleY(0.2);-webkit-transform-origin: 0% 50%;transform-origin: 0% 50%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateX(0) scaleY(1) scaleX(1);transform: translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes slide-in-blurred-br {
  0% {-webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);transform: translate(1000px, 1000px) skew(80deg, 10deg);-webkit-transform-origin: 0% 100%;transform-origin: 0% 100%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translate(0, 0) skew(0deg, 0deg);transform: translate(0, 0) skew(0deg, 0deg);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes slide-in-blurred-br {
  0% {-webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);transform: translate(1000px, 1000px) skew(80deg, 10deg);-webkit-transform-origin: 0% 100%;transform-origin: 0% 100%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translate(0, 0) skew(0deg, 0deg);transform: translate(0, 0) skew(0deg, 0deg);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes slide-in-blurred-bottom {
  0% {-webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);transform: translateY(1000px) scaleY(2.5) scaleX(0.2);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateY(0) scaleY(1) scaleX(1);transform: translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes slide-in-blurred-bottom {
  0% {-webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);transform: translateY(1000px) scaleY(2.5) scaleX(0.2);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateY(0) scaleY(1) scaleX(1);transform: translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes slide-in-blurred-top {
  0% {-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);-webkit-transform-origin: 50% 0%;transform-origin: 50% 0%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateY(0) scaleY(1) scaleX(1);transform: translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@keyframes slide-in-blurred-top {
  0% {-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);-webkit-transform-origin: 50% 0%;transform-origin: 50% 0%;-webkit-filter: blur(40px);filter: blur(40px);opacity: 0;}
  100% {-webkit-transform: translateY(0) scaleY(1) scaleX(1);transform: translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;-webkit-filter: blur(0);filter: blur(0);opacity: 1;}
}
@-webkit-keyframes rotate-in-ver {
  0% {-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg);opacity: 0;}
  100% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);opacity: 1;}
}
@keyframes rotate-in-ver {
  0% {-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg);opacity: 0;}
  100% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);opacity: 1;}
}
@-webkit-keyframes rotate-in-hor {
  0% {-webkit-transform: rotateX(360deg);transform: rotateX(360deg);opacity: 0;}
  100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);opacity: 1;}
}
@keyframes rotate-in-hor {
  0% {-webkit-transform: rotateX(360deg);transform: rotateX(360deg);opacity: 0;}
  100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);opacity: 1;}
}
@-webkit-keyframes rotate-in-diag-2 {
  0% {-webkit-transform: rotate3d(-1, 1, 0, -360deg);transform: rotate3d(-1, 1, 0, -360deg);opacity: 0;}
  100% {-webkit-transform: rotate3d(-1, 1, 0, 0deg);transform: rotate3d(-1, 1, 0, 0deg);opacity: 1;}
}
@keyframes rotate-in-diag-2 {
  0% {-webkit-transform: rotate3d(-1, 1, 0, -360deg);transform: rotate3d(-1, 1, 0, -360deg);opacity: 0;}
  100% {-webkit-transform: rotate3d(-1, 1, 0, 0deg);transform: rotate3d(-1, 1, 0, 0deg);opacity: 1;}
}
@-webkit-keyframes swing-in-top-fwd {
  0% {-webkit-transform: rotateX(-100deg);transform: rotateX(-100deg);-webkit-transform-origin: top;transform-origin: top;opacity: 0;}
  100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);-webkit-transform-origin: top;transform-origin: top;opacity: 1;}
}
@keyframes swing-in-top-fwd {
  0% {-webkit-transform: rotateX(-100deg);transform: rotateX(-100deg);-webkit-transform-origin: top;transform-origin: top;opacity: 0;}
  100% {-webkit-transform: rotateX(0deg);transform: rotateX(0deg);-webkit-transform-origin: top;transform-origin: top;opacity: 1;}
}
@-webkit-keyframes puff-in-center {
  0% {-webkit-transform: scale(3);transform: scale(3);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  95% {-webkit-filter: blur(0px);filter: blur(0px);}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@keyframes puff-in-center {
  0% {-webkit-transform: scale(3);transform: scale(3);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  95% {-webkit-filter: blur(0px);filter: blur(0px);}
  100% {-webkit-transform: scale(1);transform: scale(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@-webkit-keyframes puff-in-ver {
  0% {-webkit-transform: scaleY(2);transform: scaleY(2);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  100% {-webkit-transform: scaleY(1);transform: scaleY(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@keyframes puff-in-ver {
  0% {-webkit-transform: scaleY(2);transform: scaleY(2);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  100% {-webkit-transform: scaleY(1);transform: scaleY(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@-webkit-keyframes puff-in-hor {
  0% {-webkit-transform: scaleX(2);transform: scaleX(2);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  100% {-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@keyframes puff-in-hor {
  0% {-webkit-transform: scaleX(2);transform: scaleX(2);-webkit-filter: blur(2px);filter: blur(2px);opacity: 0;}
  100% {-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);transform: translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;opacity: 0;}
  100% {-webkit-transform: translateY(0) rotateX(0) scale(1);transform: translateY(0) rotateX(0) scale(1);-webkit-transform-origin: 50% 1400px;transform-origin: 50% 1400px;opacity: 1;}
}
@keyframes slide-in-elliptic-top-fwd {
  0% {-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);transform: translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;opacity: 0;}
  100% {-webkit-transform: translateY(0) rotateX(0) scale(1);transform: translateY(0) rotateX(0) scale(1);-webkit-transform-origin: 50% 1400px;transform-origin: 50% 1400px;opacity: 1;}
}
@-webkit-keyframes flip-horizontal-top {
  0% {-webkit-transform: rotateX(0);transform: rotateX(0);}
  100% {-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}
}
@keyframes flip-horizontal-top {
  0% {-webkit-transform: rotateX(0);transform: rotateX(0);}
  100% {-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}
}
@-webkit-keyframes flip-vertical-fwd {
  0% {-webkit-transform: translateZ(0) rotateY(0);transform: translateZ(0) rotateY(0);}
  100% {-webkit-transform: translateZ(160px) rotateY(180deg);transform: translateZ(160px) rotateY(180deg);}
}
@keyframes flip-vertical-fwd {
  0% {-webkit-transform: translateZ(0) rotateY(0);transform: translateZ(0) rotateY(0);}
  100% {-webkit-transform: translateZ(160px) rotateY(180deg);transform: translateZ(160px) rotateY(180deg);}
}
@-webkit-keyframes blink-1 {
  0%,50%,100% {opacity: 1;}
  25%,75% {opacity: 0;}
}
@keyframes blink-1 {
  0%,50%,100% {opacity: 1;}
  25%,75% {opacity: 0;}
}
@-webkit-keyframes vibrate-1 {
  0% {-webkit-transform: translate(0);transform: translate(0);}
  20% {-webkit-transform: translate(-2px, 2px);transform: translate(-2px, 2px);}
  40% {-webkit-transform: translate(-2px, -2px);transform: translate(-2px, -2px);}
  60% {-webkit-transform: translate(2px, 2px);transform: translate(2px, 2px);}
  80% {-webkit-transform: translate(2px, -2px);transform: translate(2px, -2px);}
  100% {-webkit-transform: translate(0);transform: translate(0);}
}
@keyframes vibrate-1 {
  0% {-webkit-transform: translate(0);transform: translate(0);}
  20% {-webkit-transform: translate(-2px, 2px);transform: translate(-2px, 2px);}
  40% {-webkit-transform: translate(-2px, -2px);transform: translate(-2px, -2px);}
  60% {-webkit-transform: translate(2px, 2px);transform: translate(2px, 2px);}
  80% {-webkit-transform: translate(2px, -2px);transform: translate(2px, -2px);}
  100% {-webkit-transform: translate(0);transform: translate(0);}
}
@-webkit-keyframes flicker-in-1 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  10.1% {opacity: 1;}
  10.2% {opacity: 0;}
  20% {opacity: 0;}
  20.1% {opacity: 1;}
  20.6% {opacity: 0;}
  30% {opacity: 0;}
  30.1% {opacity: 1;}
  30.5% {opacity: 1;}
  30.6% {opacity: 0;}
  45% {opacity: 0;}
  45.1% {opacity: 1;}
  50% {opacity: 1;}
  55% {opacity: 1;}
  55.1% {opacity: 0;}
  57% {opacity: 0;}
  57.1% {opacity: 1;}
  60% {opacity: 1;}
  60.1% {opacity: 0;}
  65% {opacity: 0;}
  65.1% {opacity: 1;}
  75% {opacity: 1;}
  75.1% {opacity: 0;}
  77% {opacity: 0;}
  77.1% {opacity: 1;}
  85% {opacity: 1;}
  85.1% {opacity: 0;}
  86% {opacity: 0;}
  86.1% {opacity: 1;}
  100% {opacity: 1;}
}
@keyframes flicker-in-1 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  10.1% {opacity: 1;}
  10.2% {opacity: 0;}
  20% {opacity: 0;}
  20.1% {opacity: 1;}
  20.6% {opacity: 0;}
  30% {opacity: 0;}
  30.1% {opacity: 1;}
  30.5% {opacity: 1;}
  30.6% {opacity: 0;}
  45% {opacity: 0;}
  45.1% {opacity: 1;}
  50% {opacity: 1;}
  55% {opacity: 1;}
  55.1% {opacity: 0;}
  57% {opacity: 0;}
  57.1% {opacity: 1;}
  60% {opacity: 1;}
  60.1% {opacity: 0;}
  65% {opacity: 0;}
  65.1% {opacity: 1;}
  75% {opacity: 1;}
  75.1% {opacity: 0;}
  77% {opacity: 0;}
  77.1% {opacity: 1;}
  85% {opacity: 1;}
  85.1% {opacity: 0;}
  86% {opacity: 0;}
  86.1% {opacity: 1;}
  100% {opacity: 1;}
}

@-webkit-keyframes flicker-4 {
  0%,100% {opacity: 1;}
  31.98% {opacity: 1;}
  32% {opacity: 0;}
  32.8% {opacity: 0;}
  32.82% {opacity: 1;}
  34.98% {opacity: 1;}
  35% {opacity: 0;}
  35.7% {opacity: 0;}
  35.72% {opacity: 1;}
  36.98% {opacity: 1;}
  37% {opacity: 0;}
  37.6% {opacity: 0;}
  37.62% {opacity: 1;}
  67.98% {opacity: 1;}
  68% {opacity: 0;}
  68.4% {opacity: 0;}
  68.42% {opacity: 1;}
  95.98% {opacity: 1;}
  96% {opacity: 0;}
  96.7% {opacity: 0;}
  96.72% {opacity: 1;}
  98.98% {opacity: 1;}
  99% {opacity: 0;}
  99.6% {opacity: 0;}
  99.62% {opacity: 1;}
}
@keyframes flicker-4 {
  0%,100% {opacity: 1;}
  31.98% {opacity: 1;}
  32% {opacity: 0;}
  32.8% {opacity: 0;}
  32.82% {opacity: 1;}
  34.98% {opacity: 1;}
  35% {opacity: 0;}
  35.7% {opacity: 0;}
  35.72% {opacity: 1;}
  36.98% {opacity: 1;}
  37% {opacity: 0;}
  37.6% {opacity: 0;}
  37.62% {opacity: 1;}
  67.98% {opacity: 1;}
  68% {opacity: 0;}
  68.4% {opacity: 0;}
  68.42% {opacity: 1;}
  95.98% {opacity: 1;}
  96% {opacity: 0;}
  96.7% {opacity: 0;}
  96.72% {opacity: 1;}
  98.98% {opacity: 1;}
  99% {opacity: 0;}
  99.6% {opacity: 0;}
  99.62% {opacity: 1;}
}
@-webkit-keyframes text-focus-in {
  0% {-webkit-filter: blur(12px);filter: blur(12px);opacity: 0;}
  100% {-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@keyframes text-focus-in {
  0% {-webkit-filter: blur(12px);filter: blur(12px);opacity: 0;}
  100% {-webkit-filter: blur(0px);filter: blur(0px);opacity: 1;}
}
@-webkit-keyframes heartbeat {
  from {-webkit-transform: scale(1);transform: scale(1);-webkit-transform-origin: center center;transform-origin: center center;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  10% {-webkit-transform: scale(1.09);transform: scale(1.09);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  17% {-webkit-transform: scale(1.02);transform: scale(1.02);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  33% {-webkit-transform: scale(1.13);transform: scale(1.13);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  45% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@keyframes heartbeat {
  from {-webkit-transform: scale(1);transform: scale(1);-webkit-transform-origin: center center;transform-origin: center center;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  10% {-webkit-transform: scale(1.09);transform: scale(1.09);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  17% {-webkit-transform: scale(1.02);transform: scale(1.02);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
  33% {-webkit-transform: scale(1.13);transform: scale(1.13);-webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;}
  45% {-webkit-transform: scale(1);transform: scale(1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
}
@-webkit-keyframes ping {
  0% {-webkit-transform: scale(1);transform: scale(1);opacity: 0.8;}
  80% {-webkit-transform: scale(1.2);transform: scale(1.2);opacity: 0;}
  100% {-webkit-transform: scale(2.2);transform: scale(2.2);opacity: 0;}
}
@keyframes ping {
  0% {-webkit-transform: scale(1);transform: scale(1);opacity: 0.8;}
  80% {-webkit-transform: scale(1.2);transform: scale(1.2);opacity: 0;}
  100% {-webkit-transform: scale(2.2);transform: scale(2.2);opacity: 0;}
}
@-webkit-keyframes slide-in-bck-center {
  0% {-webkit-transform: translateZ(600px);transform: translateZ(600px);opacity: 0;}
  100% {-webkit-transform: translateZ(0);transform: translateZ(0);opacity: 1;}
}
@keyframes slide-in-bck-center {
  0% {-webkit-transform: translateZ(600px);transform: translateZ(600px);opacity: 0;}
  100% {-webkit-transform: translateZ(0);transform: translateZ(0);opacity: 1;}
}


.loader {width: 20px;height: 20px;border-radius: 50%;box-shadow: 0 40px 0 #fff;position: relative;animation: loader 0.8s ease-in-out alternate infinite;animation-delay: 0.32s;top: 50%;margin:30px auto;}
.loader::after, .loader::before {content: '';position: absolute;width: 20px;height: 20px;border-radius: 50%;box-shadow: 0 40px 0 #fff;animation: loader 0.8s ease-in-out alternate infinite;}
.loader::before {left: -30px;animation-delay: 0.48s; }
.loader::after {right: -30px;animation-delay: 0.16s; }

@keyframes loader {
  0% {box-shadow: 0 40px 0 #fff; }
  100% {box-shadow: 0 20px 0 #fff; }
}
@-webkit-keyframes loader {
  0% {box-shadow: 0 40px 0 #fff; }
  100% {box-shadow: 0 20px 0 #fff; }
}
