
/* popup
 * --------------------------------------- */
#layer_popup { max-width:512px;text-align:center;position:absolute;z-index: 9999;top:200px;left:45%;transform:translate(50%,0);-webkit-transform:translate(50%,0);-moz-transform:translate(50%,0);}
#layer_popup > a {display:block;background:url('../images/popup.png') center center / cover no-repeat;width:512px;height:376px;}
#layer_popup .close {background:#333;width:100%;color:#fff;}
#layer_popup [name="pop_form"] {font-size:0;}
#layer_popup [name="pop_form"] > div {display:inline-block;vertical-align:middle;font-size:12px;box-sizing:border-box;}
#layer_popup #check {width:calc(100% - 80px);text-align:left;padding:5px 10px;}
#layer_popup #close {width:80px;}
#layer_popup #close a {display:block;width:auto;color:#fff;padding:5px 10px;background:#000;margin:3px;}

/*@media screen and (max-width: 1100px) {*/
/*	#layer_popup {max-width:85%;width:85%;top:9px;left:50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);}*/
/*	#layer_popup > a {display:block;background:url('../images/popup-ver.png') center center / cover no-repeat;width:100%;height:0;padding-bottom:134%;}*/
/*}*/

/*@media screen and (orientation:landscape) and (max-width: 1100px) {*/
/*	#layer_popup {max-width:100%;width:60%;top:9px;left:50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);}*/
/*	#layer_popup > a {display:block;background:url('../images/popup-hor.png') center center / cover no-repeat;width:100%;height:0;padding-bottom:70%;}*/
/*}*/

@media screen and (max-width: 1100px) {
	#layer_popup {max-width:100%;width:60%;top:9px;left:50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);}
	#layer_popup > a {display:block;background:url('../images/popup.png') center center / cover no-repeat;width:100%;height:0;padding-bottom:70%;}
}

.checkbox input {display:none;}
.checkbox span {display:inline-block;vertical-align:middle;}
.checkbox .icon {position:relative;width:17px;height:17px;border:1px solid #c8ccd4;border-radius:3px;vertical-align:middle;transition:background 0.1s ease;cursor:pointer;}
.checkbox .icon::after {content: '';position: absolute;top:-1px;left:5px;width:5px;height:11px;opacity:0;transform:rotate(45deg) scale(0);border-right:2px solid #fff;border-bottom:2px solid #fff;transition:all 0.3s ease;transition-delay:.15s;}
.checkbox .text {margin-left:5px;vertical-align:middle;cursor:pointer;}
.checkbox input:checked ~ .icon {border-color:transparent;background:#97B3E8;animation:jelly 0.6s ease;}
.checkbox input:checked ~ .icon:after {opacity:1;transform:rotate(45deg) scale(1);}
@-moz-keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}
@-webkit-keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}
@-o-keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}
@keyframes jelly {
	from {transform: scale(1, 1);}
	30% {transform: scale(1.25, 0.75);}
	40% {transform: scale(0.75, 1.25);}
	50% {transform: scale(1.15, 0.85);}
	65% {transform: scale(0.95, 1.05);}
	75% {transform: scale(1.05, 0.95);}
	to {transform: scale(1, 1);}
}
