@charset "utf-8";
/* CSS Document */

@charset "UTF-8";
@font-face {
    font-family: 'NanumSquare';
    src: url(NanumSquareR.eot);
    src: url(NanumSquareR.eot?#iefix) format("embedded-opentype"),
		url(NanumSquareR.woff2) format("woff2"),
		url(NanumSquareR.woff) format("woff"),
		url(NanumSquareR.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url(NanumSquareL.eot);
    src: url(NanumSquareL.eot?#iefix) format("embedded-opentype"),
		url(NanumSquareL.woff2) format("woff2"),
		url(NanumSquareL.woff) format("woff"),
		url(NanumSquareL.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}
